<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Wish List!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ultra&display=swap" rel="stylesheet">
		{{!-- <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Holtwood+One+SC&family=Ultra&display=swap" rel="stylesheet"> --}}
		{{!-- <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Holtwood+One+SC&family=Patua+One&family=Ultra&display=swap" rel="stylesheet"> --}}
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Holtwood+One+SC&family=IBM+Plex+Serif:wght@600&family=Patua+One&family=Ultra&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Holtwood+One+SC&family=IBM+Plex+Serif:ital,wght@0,600;1,600&family=Patua+One&family=Ultra&display=swap" rel="stylesheet">
		<script src="/assets/js/burger.js"></script>
		  <link rel="stylesheet" href="public/assets/css/burger_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
