<h1>Burger Wish List</h1>

<h2>Burgers you wish to eat in this life time!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
     {{/unless}}
     {{/each}}
</ul>

<h2>Burgers that made your wish come true!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
         {{/if}}
     {{/each}}
</ul>

<h2> Add a Burger to your Wish List</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="burgers">burgers?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured! <br>
    <input type="radio" name="devoured" value="0"> Craving!
  </div>

  <button type="submit">Add Burger</button>
</form>